<!DOCTYPE html>
<html>
  <head>
    {% include "includes/header.html" %}
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  </head>
  <body>
    {% include "includes/menu.html" %} {% include "includes/sidebar.html" %}

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item" href="admin/">About the project</a>
            <a class="item" href="" target="_blank">Data Source</a>
          </div>
        </div>
        {% block content %} {% endblock %}
      </div>
      {% include "includes/footer.html" %}
    </div>
    <!-- <script type="module" src="main.js"></script> -->
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
