{% extends 'base.html' %} {% block title %} Admin {% endblock%} {% block
content%}

<div class="d-flex align-items-center justify-content-center">
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="container mb-4">
      <h3 class="ui inverted header">Add users in Blockchain</h3>
    </div>

    <div class="container shadow-lg bg-primary rounded py-3">
      <div class="mb-1">
        <label for="devloper_address" class="form-label"
          >Developer Address</label
        >
        <input
          type="text"
          class="form-control"
          id="devloper_address"
          placeholder="Developer Address"
        />
      </div>
      <div>
        <label for="">Role</label>
        <select class="form-control">
          <option value="">Select Role</option>
          <option value="">Developer</option>
          <option value="">Admin</option>
        </select>
      </div>
      <div class="mb-1">
        <label for="developer_id" class="form-label">Developer ID</label>
        <input
          class="form-control"
          id="developer_id"
          placeholder="Developer ID"
        />
      </div>
      <div class="mb-1">
        <label for="developer_name" class="form-label">Developer Name</label>
        <input
          class="form-control"
          id="developer_name"
          placeholder="Developer Name"
        />
      </div>
      <div class="mb-1">
        <label for="joining_date" class="form-label"
          >Developer's Date of Joining</label
        >
        <input
          class="form-control"
          type="date"
          id="joining_date"
          placeholder="Date of Joining"
        />
      </div>
    </div>

    <div class="container shadow-lg bg-primary rounded mt-4 py-3">
      <div>
        <button
          type="button"
          class="btn btn-dark"
          id="add_dev"
          onclick="addDeveloper()"
        >
          Add Developer
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %} {% block footer %}

<script type="module" src="/js/index.js"></script>

{% endblock %}
