<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Project {% endblock%}</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap"
    rel="stylesheet" />

  {% include "includes/head.html" %}
  <!-- Custom fonts for this template-->

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


  <link href="https://startbootstrap.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
  <!--macro function-->
  {% macro score_text(score) %}
  {% if score >= 60 %}
  Safe
  {% elif score >= 30 %}
  Moderately Safe
  {% else %}
  Unsafe
  {% endif %}
  {% endmacro %}

  <!--macro function-->
  {% macro score_color(score) %}
  {% if score >= 60 %}
  text-success
  {% elif score >= 30 %}
  text-warning
  {% else %}
  text-danger
  {% endif %}
  {% endmacro %}

  <!-- Author Jaya Rani Mushahary -->
</head>

<body>
  {% include "includes/navbar.html" %}

  <div class="jumbotron jumbotron-fluid bg-light text-dark d-flex align-items-center justify-content-center text-center"
    style="min-height: calc(100vh)">
    <div class="container">{% block content %} {% endblock %}</div>
  </div>
  {% include "includes/footer.html" %}

  <script src="/web3/dist/web3.min.js"></script>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  {% block footer %} {% endblock %}
</body>

</html>