{% extends 'base.html' %} {% block title %} Lead {% endblock%} {% block
content%}

<!--MODAL-->
<div class="modal" tabindex="-1" id="code-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Source Code</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <pre>
          <code class="language-c">
            
          </code> 
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
<div>
  <h3 class="mb-3" style="color: rgb(167, 227, 242)">Results</h3>

  <h4>Developer Information</h4>
  <div class="container grid-striped">
    <div class="row">
      <div class="col-sm">
        <div class="d-flex flex-column bd-highlight align-items-start mb-3">
          <div class="d-flex p-2 bd-highlight">
            <span class="mr-4">Developer Serial Id</span>
            <span class="">{{ result["serial_no"] }}</span>
          </div>
          <div class="d-flex p-2 bd-highlight">
            <span class="mr-4"> Developer ID </span>
            <span class="">{{ result["developer_id"] }}</span>
          </div>
        </div>
      </div>
    </div>

    <h4>Source code Information</h4>
    <div class="container grid-striped">
      <div class="row">
        <div class="col-sm">
          <div class="d-flex flex-column bd-highlight align-items-start mb-3">
            <div class="d-flex p-2 bd-highlight">
              <span class="mr-4">Filename</span>
              <span class="">{{ result["filename"] }}</span>
            </div>
            <div class="d-flex p-2 bd-highlight">
              <span class="mr-4">Filepath</span>
              <span class="">{{ result["filepath"] }}</span>
            </div>
            <div class="d-flex p-2 bd-highlight">
              <span class="mr-4">Upload Timestamp</span>
              <span class="">{{ result["utimestamp"] }}</span>
            </div>
          </div>
        </div>
      </div>

      <h4>Prediction Information</h4>
      <div class="container grid-stripper">
        <div class="row">
          <div class="col-sm">
            <div class="d-flex flex-column bd-highlight align-items-start mb-3">
              <div class="d-flex p-2 bd-highlight">
                <span class="mr-4">Is code Vulnerable?</span>
                <span class="">{{ result["is_vulnerable"] }}</span>
              </div>
              <div class="d-flex p-2 bd-highlight">
                <span class="mr-4">Prediction Timestamp</span>
                <span class="">{{ result["ptimestamp"] }}</span>
              </div>
              <div class="p-2 bd-highlight">
                <span class="mr-4">Vulnerable Score</span>
                <span class="">{{ result["vulnerable_score"] }}</span>
              </div>
              <div class="p-2 bd-highlight">
                <span class="mr-4">Non-Vulnerable Score</span>
                <span class="">{{ result["nonvulnerable_score"] }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4>IPFS Information</h4>
      <div class="container grid-striped">
        <div class="row">
          <div class="col-sm">
            <div class="d-flex flex-column bd-highlight align-items-start mb-3">
              <div class="d-flex p-2 bd-highlight">
                <span class="mr-4">Hash</span>
                <span class="">
                  {% if filehash!='' %} {{ filehash }} {% else %} Not added to
                  ipfs. Click accept button. {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- buttons -->
        <div>
          <form action="/lead/{{result.serial_no}}/save-to-ipfs" method="POST">
            <input
              type="hidden"
              value="{{result['filepath']}}"
              name="filepath"
            />
            <button type="submit" class="btn btn-outline-info">Accept</button>
          </form>
          <script>
            function openCodeModal() {
              fetch("/lead/{{result.serial_no}}/get-code")
                .then(function (response) {
                  return response.json();
                })
                .then(function (data) {
                  document.querySelector(
                    "#code-modal .modal-body code"
                  ).innerText = data.code;
                  $("#code-modal").modal();
                  // hljs.initHighlightingOnLoad();
                });
            }
          </script>
          <!-- INCOMPLETE CODE-->
          <button
            type="button"
            class="btn btn-outline-info"
            onclick="openCodeModal()"
          >
            View Code
          </button>
          {% if filehash != '' %}
          <a
            href="http://127.0.0.1:8080/ipfs/{{filehash}}"
            target="_blank"
            type="button"
            class="btn btn-outline-info"
            >View Code</a
          >
          {% endif %}

          <!-- <form action="/lead/view_code" method="POST">
          <input type="hidden" value="{{result['filename']}}" name="filename" />
          <button type="submit" class="btn btn-outline-info">
            View Code
          </button>
        </form> -->
        </div>
      </div>

      {% endblock %}
    </div>
  </div>
</div>
